<h1>Register</h1>
<form action="/register" method="post">
  <input type="text" name="username"></input>
  <input type="password" name="password"></input>
  <button type="submit">Register</button>
</form>
